@charset "utf-8";
/* CSS Document */
#head{
	width:100%;
	height:100px;
	background-color:deepsky;
	text-align:center;
	border-bottom:double;
	}
#content{
	
	position:relative;
	width:100%;
	height:700;
	}
.menu{
	position:relative;
	width:25%;
	height:400px;
	background-color:sky;
	font:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	padding:10px 10px 10px 20px;
	}
.menu a{
	text-decoration:none;
	}
.con{
	position:absolute;
	width:75%;
	height:680px;
	left:25%;
	top:0%;
	background-color:sky;
	}